.playerList {
  display: inline-flex;
  max-width: 100%;
  overflow-x: auto;
}

.playerCard {
  width: 200px;
  height: 300px;
  padding: 10px;
}

.bigHeader {
  color: blue;
  margin: auto
}

.headshot {
  max-width: 80%;
  height: auto;
}

.playerName{
  font-size: larger;
  text-align: center;
}