body {
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(228, 228, 228), white);
}

.playerList {
  display: inline-flex;
  max-width: 100%;
  overflow-x: auto;
}

.myList {
  display: inline-flex;
  max-width: 100%;
  overflow-x: auto;
}

.playerCard {
  width: 200px;
  height: 300px;
  padding: 10px;
}

.bigHeader {
  color: green;
  margin: auto
}

.headshot {
  max-width: 80%;
  height: auto;
}

.playerName{
  font-size: larger;
  text-align: center;
}