.playerList {
  display: inline-flex;
  max-width: 100%;
  overflow-x: auto;
}

.playerCard {
  padding: 10px
}

.bigHeader {
  color: blue;
  margin: auto
}

.headshot {
  width: 40%;
  height: auto;
}